body{
  margin: 0%;
}
nav img{
  height: 40px;
  margin-right: 900px;
  display: flex;
}
nav {
  display: flex;
  background-color: #000000;
  justify-content: right;
  padding: 15px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: solid;
  padding: 10px 20px;
  font-weight: bold;
  font-family: 'Times New Roman';

}
nav a:hover {
  background-color: purple;
  border-radius: 5px;
}

.profile{
  justify-content: left;
  height: 10px;

}
.profile-image{
  border-radius: 15px;
  margin-top: 30px;

}
.info{
  color: #ffffff;
  margin-left: 380px;
  background-color: #de97d97d;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 75px;
  padding:20px;

}
.info h2{
  margin-left: 50px;
}
.info p{
 
  background-color: purple;
  margin: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 2;
}
.info button{
  margin-left: 100px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  background: linear-gradient(purple ,violet,white,beige);
  transition: background-color 0.3s ease; 
}
.info button:hover{
  background: linear-gradient(violet,gray);
}
.socialmedia{
  justify-content: right;
  position: fixed;
  bottom: 20px;
  margin-left: 1300px;
  margin-bottom: 30px;
}
.socialmedia a{
  margin: 5px;
}
.smphone{
  position: fixed;
  margin-left: 100px;
  margin-top: 100px;
  
}
.smphone a{
  margin: 5px;
 
}
.ccvid{
  margin: 20px;
}
.ccvid video{
   border-radius: 15px;
   border: 5px solid white;
   object-fit: cover;
   margin-left: 37px;
   margin-top: 15px;
   margin: 2opx;
   margin-bottom: 15px;
   display: inline-flex;
   
}
.profileimg{
  height:300px;
  width: 250px;
  border: 5px solid purple;
  box-shadow: 0 0 100px rgba(255, 3, 255, 0.3)
  
}
.about{
  color: #ffffff;
  margin-left: 380px;
  background-color: #de97d97d;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 75px;
  padding:20px;

}
.about h2{
  margin-left: 50px;
}
.about p{
 
  background-color: purple;
  margin: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 2;
}
.about button{
  margin-left: 100px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  background: linear-gradient(purple ,violet,white,beige);
  transition: background-color 0.3s ease; 
}
.about button:hover{
  background: linear-gradient(violet,gray);
}
